@font-face {
  font-family: "MyriadGEOMtavruli";
  src: url("../fonts/Akademiuri-mtavruli.eot");
  src: url("../fonts/Akademiuri-mtavruli.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Akademiuri-mtavruli.woff2") format("woff2"),
    url("../fonts/Akademiuri-mtavruli.woff") format("woff"),
    url("../fonts/Akademiuri-mtavruli.svg#Akademiuri-mtavruli") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FiraGO";
  src: url("../fonts/FiraGO-Medium.eot");
  src: url("../fonts/FiraGO-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FiraGO-Medium.woff2") format("woff2"),
    url("../fonts/FiraGO-Medium.woff") format("woff"),
    url("../fonts/FiraGO-Medium.svg#FiraGO-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
