@media (max-width: 1024px) {
  body {
    margin: 0 5%;
  }
  .container {
    max-width: 1024px;
  }
  .none {
    display: flex;
  }
  .burgerMenuWrapper,
  .navWrapper {
    display: none;
  }
  header {
    margin-bottom: 0;
    width: 100%;
  }
  .headerWrapper {
    justify-content: space-between;

    width: unset;
    flex-wrap: wrap;
  }
  /* About us */

  .topicWrapper :first-child,
  .topicWrapper img {
    display: none;
  }
  .aboutUs div:nth-child(2) {
    width: 100%;
  }
  .txtWrapper {
    width: unset;
    margin: 0 5%;
  }
  .footerNav {
    display: none;
  }
  .aboutUs div p {
    margin-bottom: unset;
  }
  .rights {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .rights div img {
    margin-bottom: 85px;
  }
  .madeBy {
    margin-bottom: 8px;
  }
  .menu {
    justify-content: space-around;
    margin-bottom: 13px;
    flex-wrap: wrap;
  }
  .burgerMenuAboutUs {
    width: 40px;
    height: 40px;
    background-color: #74b42c;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .burgerMenuUs {
    width: 17px;
    height: 0;
    border: 1px solid #ffffff;
    margin-bottom: 5px;
  }
  .contactDiv {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
  .swiper-button-prev,
  .swiper-button-next,
  .item3 div img:last-child {
    display: none;
  }
  body {
    margin: unset;
  }
  .swiper {
    margin-top: -113px;
  }
  header {
    position: relative;
    z-index: 2;
  }
  .topicsWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .topic {
    width: 75%;
    margin-bottom: 10px;
  }
  .firstTopicWrapper {
    box-shadow: 0px 30px 15px -15px rgb(117 180 44 / 10%);
  }
  .secondTopicWrapper {
    box-shadow: 0px 30px 15px -15px rgb(245 99 31 / 10%);
  }
  .thirdTopicWrapper {
    box-shadow: 0px 30px 15px -15px rgb(60 172 224 / 10%);
  }
  .fourthTopicWrapper {
    box-shadow: 0px 30px 15px -15px rgb(204 150 208 / 10%);
  }
  .grid-container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .dogProductWrapper button {
    margin-bottom: 10px;
  }
  .item4 div img {
    position: unset;
    margin-top: unset;
    width: 150px;
  }
  .item3 div img:first-child {
    width: 150px;
  }
  .swiperProducts .swiper-slide,
  .weightWrapper,
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards {
    flex-direction: column;
  }
  .cardB {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .cardC .flex {
    justify-content: flex-end;
  }
  .item4 {
    justify-content: space-between;
  }
  .birdProductWrapper h2 {
    margin-top: 20px;
  }
  .dogProductWrapper {
    margin-top: 32px;
  }

  .banner div {
    margin-top: unset;
    margin-left: 50px;
  }
  .banner div span {
    font-size: 18px;
  }
  .brands {
    margin: 0 5%;
  }
}
