@media (max-width: 1024px) {
  body {
    margin: 0 5%;
  }
  .container {
    max-width: 1024px;
  }
  .none {
    display: flex;
  }
  .burgerMenuWrapper,
  .navWrapper {
    display: none;
  }
  header {
    margin-bottom: 0;
    width: 100%;
  }
  .headerWrapper {
    justify-content: space-between;

    width: unset;
    flex-wrap: wrap;
  }
  /* About us */

  .topicWrapper :first-child,
  .topicWrapper img {
    display: none;
  }
  .aboutUs div:nth-child(2) {
    width: 100%;
  }
  .txtWrapper {
    width: unset;
    margin: 0 5%;
  }
  .footerNav {
    display: none;
  }
  .aboutUs div p {
    margin-bottom: unset;
  }
  .rights {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .rights div img {
    margin-bottom: 85px;
  }
  .madeBy {
    margin-bottom: 8px;
  }
  .menu {
    justify-content: space-around;
    margin-bottom: 13px;
    flex-wrap: wrap;
  }
  .burgerMenuAboutUs {
    width: 40px;
    height: 40px;
    background-color: #74b42c;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .burgerMenuUs {
    width: 17px;
    height: 0;
    border: 1px solid #ffffff;
    margin-bottom: 5px;
  }
  .contactDiv {
    margin-top: 20px;
  }
}
