/* Global Styles */
body {
  background-color: #fafafa;
}
.container {
  max-width: 1186px;
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
/* Header Styles */
header {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 1276px;
  border-radius: 0 0 50px 50px;
  background-color: #ffffff;
  margin-bottom: 70px;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burgerMenu {
  width: 25px;
  border: 3px solid #242424;
  margin-bottom: 8px;
  border-radius: 28px;
}
.navWrapper {
  display: flex;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.nav img {
  width: 18px;
  height: 18px;
  margin-bottom: 13px;
}
.nav p {
  font-size: 12px;
  font-family: "MyriadGEOMtavruli";
}
/* Slider Section Styles */
.slider {
  position: relative;
}
.sliderItemTop {
  display: none;
}

.sliderItemTop :last-child {
  margin-right: 0;
}
.sliderItem {
  width: 100%;
  height: 280px;
  justify-content: center;
  align-items: center;
  display: none;
}

.active {
  display: flex;
}
.firstImage {
  background-image: url(../images/slider1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.secondImage {
  background-image: url(../images/slider2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.thirdImage {
  background-image: url(../images/slider3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textWrapper h3 {
  max-width: 344px;
  color: #ffffff;
  font-size: 24px;
  font-family: "MyriadGEOMtavruli";
  margin-bottom: 30px;
  text-align: center;
  line-height: 29px;
}
.textWrapper button {
  font-family: "FiraGO";
  padding: 14px 40px;
}
.pagination {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 45%;
}
.pg-btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
}
.btnL {
  margin-left: 35px;
}
.btnR {
  margin-right: 35px;
}
.dots {
  position: absolute;
  display: flex;
  left: 45%;
  bottom: 5%;
}
.dot {
  width: 12px;
  height: 5px;
  background-color: #ffffff;
  opacity: 50%;
  margin-left: 8px;
}
/* Topics Styles */
.topicsWrapper {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.topic {
  width: 22%;
  height: 90px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.topicIconWrapper {
  width: 44px;
  height: 44px;
  border-radius: 6px;
  margin-right: 25px;
  margin-left: 30px;
  margin-top: 23px;
  margin-bottom: 23px;
  /* opacity: 20%; */
}

.topic p {
  font-size: 14px;
  font-family: "MyriadGEOMtavruli";
}
.firstTopicWrapper {
  background-color: #f1f7e9;
}
.firstTopicIconWrapper {
  background-color: #e3f0d4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstTopicWrapper p span {
  color: #74b42c;
}
.secondTopicWrapper {
  background-color: #feefe8;
}
.secondTopicIconWrapper {
  background-color: #fddfd2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondTopicWrapper p span {
  color: #f5621f;
}
.thirdTopicWrapper {
  background-color: #ebf7fc;
}
.thirdTopicIconWrapper {
  background-color: #3cabe0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.thirdTopicWrapper p span {
  color: #3cabe0;
}
.fourthTopicWrapper {
  background-color: #faf4fa;
}
.fourthTopicIconWrapper {
  background-color: #cc96d0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourthTopicWrapper p span {
  color: #cc96d0;
}
/* Products Styles */
.grid-container {
  display: grid;
  grid-template-areas:
    "dog fish bird"
    "dog cat cat";
  grid-gap: 26px;
  margin-bottom: 75px;
}

.item1 {
  background-color: #f5621f;
  grid-area: dog;
  border-radius: 10px;
}
.item2 {
  background-color: #3cabe0;
  grid-area: fish;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item3 {
  background-color: #f5ad00;
  grid-area: cat;
  border-radius: 10px;
}
.item4 {
  background-color: #74b42c;
  grid-area: bird;
  border-radius: 10px;
}
.dogProductWrapper {
  max-width: 250px;
  margin-left: 40px;
  margin-top: 72px;
}
.item1 img {
  width: 100%;
}
.dogProductWrapper h4 {
  font-size: 14px;
  color: #ffffff;
  font-family: "MyriadGEOMtavruli";
}
.dogProductWrapper h2,
.fishProductWrapper h2,
.catProductWrapper h2,
.birdProductWrapper h2 {
  font-size: 18px;
  color: #ffffff;
  line-height: 22px;
  font-family: "MyriadGEOMtavruli";
  margin-top: 28px;
  margin-bottom: 32px;
}
.dogProductWrapper h2 span,
.fishProductWrapper h2 span,
.catProductWrapper h2 span,
.birdProductWrapper h2 span {
  font-size: 24px;
  color: #ffffff;
  font-family: "MyriadGEOMtavruli";
}
.productButton {
  width: 160px;
  height: 40px;
  border: none;
  font-size: 12px;
  color: #111111;
  font-family: "FiraGO";
  background-color: #ffffff;
  border-radius: 6px;
}
.fishProductWrapper h2,
.catProductWrapper h2,
.birdProductWrapper h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fishButtonContainer {
  align-items: center;
}
.fishButtonContainer img {
  z-index: 1;
  margin-right: -10px;
}
.birdProductWrapper h2 {
  position: absolute;
}
.item4 div img {
  margin-top: -20px;
}
/* Top Products Styles */
.topProducts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.topProducts h2 {
  color: #111111;
  font-size: 28px;
  font-family: "MyriadGEOMtavruli";
}
.topProducts span {
  font-size: 14px;
  color: #9c9c9c;
  font-family: "FiraGO";
}
.topProduct {
  width: 22%;
  padding: 30px;
  background-color: red;
  border: 1px solid #e7e7e74d;
  margin-right: 3%;
}
.topProductImg {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.topProduct div h4 {
  color: #111111;
  font-size: 18px;

  font-family: "MyriadGEOMtavruli";
}
.topProduct div p {
  margin-top: 9px;
  margin-bottom: 16px;
  color: #6e6e6e;
  font-size: 12px;
  font-family: "FiraGO";
}
.weight {
  display: flex;
  justify-content: space-between;
}
.weight > div {
  width: 48%;
}
.weight div div {
  font-size: 13px;
  color: #111111;

  font-family: "FiraGO";
  border-radius: 4px;
  background-color: #f8f8f8;
  padding: 10px 30px;
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
}
#oneBag {
  padding: 10px;
}
.price {
  color: #111111;
  font-family: "FiraGO";
  font-size: 24px;
}
.priceN {
  color: #f5621f;
  font-family: "FiraGO";
  font-size: 24px;
}
.priceO {
  color: #111111;
  font-family: "FiraGO";
  font-size: 11px;
  text-decoration: line-through;
}
.topProductPrices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shoppingCart {
  background-color: #f5621f;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.none {
  margin-top: 70px;
  color: #111111;
  font-size: 14px;
  font-family: "FiraGO";
}
.topProductPrices button {
  background-color: #f5621f;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 12px;
  color: #ffffff;

  font-family: "FiraGO";
  border: none;
}
.paginationOfProducts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productsPagination {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
/* Cards styles */
.cards {
  justify-content: space-between;
}
.cardA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 378px;
  height: 500px;
}
.cardA div h2 {
  color: #111111;
  font-size: 24px;
  text-align: center;
  width: 225px;

  margin-top: 70px;
  margin-bottom: 22px;
}
.cardA div h2 span:nth-child(1) {
  color: #d79f18;
}
.cardA div h2 span:nth-child(2) {
  color: #1487bd;
}
.cardA div h2 span:nth-child(3) {
  color: #f5621f;
}
.cardA div h2 span:nth-child(4) {
  color: #74b42c;
}
.cardA div h2 span:nth-child(5) {
  color: #b7881c;
}
.cardA div h2 span:nth-child(6) {
  color: #cc96d0;
}
.cardA div h2 span:nth-child(7) {
  color: #c5c5c5;
}
.cardA div h2 span:nth-child(8) {
  color: #6a6d14;
}
.cardA img {
  width: 100%;
}
.cardB {
  position: relative;
  background-color: #fde13d;
  border-radius: 10px;
  height: 500px;
  max-width: 378px;
  width: 100%;
}
.cardB h2 {
  margin: 40px 0 40px 40px;
  font-size: 18px;
  font-family: bold;
  color: #111111;
  max-width: 215px;
  font-weight: bold;
  line-height: 30px;
}
.cardB h2 span {
  margin-top: 10px;
  color: #111111;
  font-size: 24px;
}

.cardB button {
  margin-left: 40px;
}
.cardB img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.bestSellerItem {
  display: none;
}
.activeBestSeller {
  display: flex;
  flex-direction: column;
}
.bestSellerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardC div h4 {
  max-width: 180px;
  margin-top: 40px;
  margin-left: 40px;
  color: #111111;
  font-size: 18px;
}
.priceCircle {
  width: 119px;
  height: 119px;
  background-color: #f5621f;
  border-radius: 0px 10px 0px 193px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.priceNT {
  color: #ffffff;
  font-family: "FiraGO";
  font-size: 24px;
  margin-left: 40px;
}
.priceOT {
  color: #ffffff;
  font-family: "FiraGO";
  font-size: 11px;
  text-decoration: line-through;
  opacity: 60%;
  margin-left: 60px;
}
.black {
  background-color: #111111;
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bestSellerItem span {
  margin-top: 25px;
  margin-bottom: 30px;
  color: #111111;
  font-size: 18px;
  font-weight: bold;
}
.bestSellerItem img {
  margin-top: 40px;
}
.sliderItemLatest {
  display: none;
}
.activeLatest {
  display: flex;
}
.latestWrapper {
  display: flex;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 70px;
}
/* Banner Styles */
.banner {
  background-color: #f5ad00;
  border-radius: 10px;
  height: 250px;
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}
.banner div {
  max-width: 509px;
  width: 100%;
  margin-left: 100px;
  margin-top: 56px;
}
.banner div span {
  color: #ffffff;
  font-size: 32px;
}
.banner div button {
  margin-top: 32px;
}
/* Brands Styles */
.brands {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}
.sliderItemBrand {
  display: none;
  justify-content: space-between;
}
.sliderItemBrand div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 90px;
  padding: 45px 55px;
}
.activeBrand {
  display: flex;
}

/* Footer Styles */
footer {
  justify-content: space-between;
}
footer div p {
  max-width: 378px;
  font-size: 12px;
  color: #6e6e6e;
  font-family: "FiraGO";
  margin-top: 27px;
  line-height: 23px;
}
.footerNav {
  display: flex;
  margin-bottom: 130px;
}
.footerNav div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footerNav h5 {
  color: #111111;
  font-size: 14px;
  margin-bottom: 31px;

  font-family: "MyriadGEOMtavruli";
  font-weight: bold;
}
.footerNav h6 {
  color: #111111;
  font-size: 12px;
  margin-bottom: 16px;
  font-family: "FiraGO";
  font-weight: bold;
}
.footerNav div a {
  font-size: 12px;
  color: #6e6e6e;
  font-family: "FiraGO";
  margin-bottom: 16px;
}
.footerNav div span {
  color: #111111;
  font-family: "FiraGO";
  font-size: 12px;
  margin-top: 16px;
}
#fb {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#fbA {
  margin-bottom: 0;
}
/* Rights styles */
.rights {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 45px;
}
.allRights {
  font-size: 14px;
  color: #9c9c9c;
  font-family: "FiraGO";
}
.madeBy {
  color: #111111;
  font-size: 14px;
  font-family: "FiraGO";
}
.madeBy span {
  color: #74b42c;
}
/*  */
