/* Global Styles */
body {
  background-color: #fafafa;
}
.container {
  max-width: 1186px;
  width: 100%;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.center {
  align-items: center;
}
.hidden {
  overflow: hidden;
}
/* Header Styles */
header {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1276px;
  width: 90%;
  border-radius: 0 0 50px 50px;
  background-color: #ffffff;
  margin-bottom: 70px;
}
.headerWrapper img {
  width: 213px;
  height: 30px;
}
.lang span {
  margin-left: 10px;
  font-weight: bold;
}
.lang span:last-child {
  color: #6e6e6e;
}
.none {
  display: none;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burgerMenu {
  width: 25px;
  border: 1px solid #242424;
  margin-bottom: 8px;
  border-radius: 28px;
}
.navWrapper {
  display: flex;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.nav img {
  width: 18px;
  height: 18px;
  margin-bottom: 13px;
}
.nav p {
  font-size: 12px;
  font-family: "MyriadGEOMtavruli";
}
/* Slider Section Styles */
.swiper {
  max-width: 1276px;
}
.swiper .swiper-slide > img {
  display: block;
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 5px;
  background-color: #ffffff;
  opacity: 50%;
  border-radius: 0;
}
.swiper-pagination-bullet-active {
  width: 28px;
  opacity: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  color: transparent;
  background-color: #ffffff;
  padding: 5px;
  margin-left: 35px;
  margin-right: 35px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
/* Topics Styles */
.topicsWrapper {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}
.topic {
  width: 22%;
  height: 90px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.topicIconWrapper {
  width: 44px;
  height: 44px;
  border-radius: 6px;
  margin-right: 25px;
  margin-left: 30px;
  margin-top: 23px;
  margin-bottom: 23px;
  /* opacity: 20%; */
}

.topic p {
  font-size: 14px;
  font-family: "MyriadGEOMtavruli";
}
.firstTopicWrapper {
  background-color: #f1f7e9;
}
.firstTopicIconWrapper {
  background-color: #e3f0d4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstTopicWrapper p span {
  color: #74b42c;
}
.secondTopicWrapper {
  background-color: #feefe8;
}
.secondTopicIconWrapper {
  background-color: #fddfd2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondTopicWrapper p span {
  color: #f5621f;
}
.thirdTopicWrapper {
  background-color: #ebf7fc;
}
.thirdTopicIconWrapper {
  background-color: #c8e8f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thirdTopicWrapper p span {
  color: #3cabe0;
}
.fourthTopicWrapper {
  background-color: #faf4fa;
}
.fourthTopicIconWrapper {
  background-color: #f1e1f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fourthTopicWrapper p span {
  color: #cc96d0;
}
/* Products Styles */
.swiperProducts {
  overflow: hidden;
  width: 100%;
  height: 500px;
  margin-bottom: 70px;
}
.swiperProducts .swiper-slide {
  width: 277px;
}
.topProduct {
  background-color: #ffffff;
  border: 1px solid #e7e7e74d;
  border-radius: 10px;
}
.topProductImage {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.topProduct h3 {
  font-size: 18px;
  font-family: "MyriadGEOMtavruli";
  color: #111111;
  margin-top: 19px;
  margin-bottom: 9px;
}
.productTitleWrapper {
  margin-left: 30px;
}
.productTitleWrapper p {
  color: #6e6e6e;
  font-family: "FiraGO";
  font-size: 12px;
  margin-bottom: 16px;
  line-height: 18px;
}
.weightWrapper {
  margin-left: 30px;
}
.weight {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 4px;
  margin-right: 7px;
  margin-bottom: 7px;
  padding: 10px 30px;
}
.pricesWrapper {
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 33px;
}
.pricesWrapper img {
  background-color: #74b42c;
  padding: 9px;
}
.priceN {
  color: #f5621f;
  font-family: "FiraGO";
  font-size: 24px;
}
.priceO {
  color: #111111;
  font-family: "FiraGO";
  font-size: 11px;
  text-decoration: line-through;
}
/* Products Styles */
.grid-container {
  display: grid;
  grid-template-areas:
    "dog fish bird"
    "dog cat cat";
  grid-gap: 26px;
  margin-bottom: 75px;
}
.catBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.birdBtn {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 30px;
  padding-left: 45px;
  z-index: 1;
}
.birdProductWrapper h2 {
  padding-left: 45px;
  z-index: 1;
}
.item1 {
  background-color: #f5621f;
  grid-area: dog;
  border-radius: 10px;
  position: relative;
}
.item2 {
  height: 200px;
  background-color: #3cabe0;
  grid-area: fish;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.item3 {
  background-color: #f5ad00;
  grid-area: cat;
  border-radius: 10px;
  position: relative;
}
.item4 {
  background-color: #74b42c;
  grid-area: bird;
  border-radius: 10px;
  position: relative;
  display: flex;
}
.dogProductWrapper {
  max-width: 250px;
  margin-left: 40px;
  margin-top: 72px;
}
.item1 img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 180px;
  width: 180px;
}
.item3 div img:first-child {
  position: absolute;
  left: 0;
  bottom: 0;
}
.item3 div img:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
}
.item4 div img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.dogProductWrapper h4 {
  font-size: 14px;
  color: #ffffff;
  font-family: "MyriadGEOMtavruli";
}
.dogProductWrapper h2,
.fishProductWrapper h2,
.catProductWrapper h2,
.birdProductWrapper h2 {
  font-size: 18px;
  color: #ffffff;
  line-height: 22px;
  font-family: "MyriadGEOMtavruli";
  margin-top: 28px;
  margin-bottom: 32px;
}
.dogProductWrapper h2 span,
.fishProductWrapper h2 span,
.catProductWrapper h2 span,
.birdProductWrapper h2 span {
  font-size: 24px;
  color: #ffffff;
  font-family: "MyriadGEOMtavruli";
}
.productButton {
  width: 160px;
  height: 40px;
  border: none;
  font-size: 12px;
  color: #111111;
  font-family: "FiraGO";
  background-color: #ffffff;
  border-radius: 6px;
}
.fishProductWrapper h2,
.catProductWrapper h2,
.birdProductWrapper h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fishProductWrapper {
  margin-bottom: 40px;
}
.fishButtonContainer {
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}
.fishButtonContainer img {
  z-index: 1;
  margin-right: -10px;
  width: 181px;
  height: 97px;
}
.birdProductWrapper h2 {
  position: absolute;
  align-items: baseline;
  margin-top: 50px;
}
.item4 div img {
  margin-top: -20px;
  width: 230px;
  height: 220px;
}
/* Cards styles */
.cards {
  justify-content: space-between;
  margin-bottom: 50px;
}
.topProducts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.topProducts h2 {
  color: #111111;
  font-size: 28px;
  font-family: "MyriadGEOMtavruli";
}
.topProducts span {
  font-size: 14px;
  color: #9c9c9c;
  font-family: "FiraGO";
}
.cardA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 378px;
  height: 500px;
}
.cardA div h2 {
  color: #111111;
  font-size: 24px;
  text-align: center;
  width: 225px;

  margin-top: 70px;
  margin-bottom: 22px;
}
.cardA div h2 span:nth-child(1) {
  color: #d79f18;
}
.cardA div h2 span:nth-child(2) {
  color: #1487bd;
}
.cardA div h2 span:nth-child(3) {
  color: #f5621f;
}
.cardA div h2 span:nth-child(4) {
  color: #74b42c;
}
.cardA div h2 span:nth-child(5) {
  color: #b7881c;
}
.cardA div h2 span:nth-child(6) {
  color: #cc96d0;
}
.cardA div h2 span:nth-child(7) {
  color: #c5c5c5;
}
.cardA div h2 span:nth-child(8) {
  color: #6a6d14;
}
.cardA img {
  width: 378px;
  height: 378px;
}
.cardB {
  position: relative;
  background-color: #fde13d;
  border-radius: 10px;
  height: 500px;
  max-width: 378px;
  width: 100%;
}
.cardB h2 {
  margin: 40px 0 40px 40px;
  font-size: 18px;
  font-family: bold;
  color: #111111;
  max-width: 215px;
  font-weight: bold;
  line-height: 30px;
}
.cardB h2 span {
  margin-top: 10px;
  color: #111111;
  font-size: 24px;
}

.cardB button {
  margin-left: 40px;
}
.cardB img {
  width: 490px;
  height: 326px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.swiperBestSeller div div {
  display: flex;
  justify-content: center;
}

.swiperBestSeller div div img {
  width: 163px;
  height: 190px;
}
.swiperBestSeller .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productButton {
  width: 160px;
  height: 40px;
  border: none;
  font-size: 12px;
  color: #111111;
  font-family: "FiraGO";
  background-color: #ffffff;
  border-radius: 6px;
}
.cardC {
  overflow: hidden;
  width: 380px;
}
.cardC div h4 {
  max-width: 180px;
  margin-top: 40px;
  margin-left: 40px;
  color: #111111;
  font-size: 18px;
}
.swiper-slide h3 {
  margin-top: 23px;
  margin-bottom: 31px;
}
.priceCircle {
  width: 119px;
  height: 119px;
  background-color: #f5621f;
  border-radius: 0px 10px 0px 193px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.priceNT {
  color: #ffffff;
  font-family: "FiraGO";
  font-size: 24px;
  margin-left: 40px;
}
.priceOT {
  color: #ffffff;
  font-family: "FiraGO";
  font-size: 11px;
  text-decoration: line-through;
  opacity: 60%;
  margin-left: 60px;
}
.black {
  background-color: #111111;
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bestSellerItem span {
  margin-top: 25px;
  margin-bottom: 30px;
  color: #111111;
  font-size: 18px;
  font-weight: bold;
}
.bestSellerItem img {
  margin-top: 40px;
}
.sliderItemLatest {
  display: none;
}
.activeLatest {
  display: flex;
}
.latestWrapper {
  display: flex;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 70px;
}
/* Banner Styles */
.banner {
  background-color: #f5ad00;
  border-radius: 10px;
  height: 250px;
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}
.banner div {
  max-width: 509px;
  margin-left: 100px;
  margin-top: 56px;
}
.banner div img {
  width: 477px;
  height: 366px;
}
.banner div span {
  color: #ffffff;
  font-size: 32px;
}
.banner div button {
  margin-top: 32px;
}
/* Brands Styles */
.brands {
  margin-bottom: 130px;
}
.sliderItemBrand {
  display: none;
  justify-content: space-between;
}
.sliderItemBrand div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 90px;
  padding: 45px 55px;
}
.activeBrand {
  display: flex;
}
.swiper-brand .swiper-wrapper .swiper-slide {
  background-color: #ffffff;
  height: 90px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-brand .swiper-wrapper .swiper-slide img {
  width: 100px;
  height: 50px;
}
/* Footer Styles */
footer {
  justify-content: space-between;
}
footer div p {
  max-width: 378px;
  font-size: 12px;
  color: #6e6e6e;
  font-family: "FiraGO";
  margin-top: 27px;
  line-height: 23px;
}
.footerNav {
  display: flex;
  margin-bottom: 130px;
}
.footerNav div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footerNav h5 {
  color: #111111;
  font-size: 14px;
  margin-bottom: 31px;
  font-family: "MyriadGEOMtavruli";
  font-weight: bold;
}
.footerNav h6 {
  color: #111111;
  font-size: 12px;
  margin-bottom: 16px;
  font-family: "FiraGO";
  font-weight: bold;
}
.footerNav div ul li {
  font-size: 12px;
  font-family: "FiraGO";
  margin-bottom: 16px;
}
.footerNav div ul li a {
  color: #6e6e6e;
}
.footerNav div a {
  color: #111111;
  font-family: "FiraGO";
  font-size: 12px;
}
#fb {
  width: 45px;
  height: 45px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#fbA {
  margin-bottom: 0;
}
/* Rights styles */
.rights {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 45px;
}
.allRights {
  font-size: 14px;
  color: #9c9c9c;
  font-family: "FiraGO";
}
.madeBy {
  color: #111111;
  font-size: 14px;
  font-family: "FiraGO";
}
.madeBy span {
  color: #74b42c;
}
/* About Us Styles */
.topicWrapper img {
  margin: 0 15px;
}
.category {
  color: #c8c8c8;
  font-size: 14px;

  font-family: "FiraGO";
}
.subCategory {
  color: #111111;
  font-size: 14px;

  font-family: "FiraGO";
}
.aboutUs div:first-child {
  margin-bottom: 68px;
}
.aboutUs div:nth-child(2) {
  width: 984px;
  height: 400px;
  background-color: #f5621f;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 65px auto;
}
.aboutUs div h2 {
  font-size: 28px;
  font-family: "MyriadGEOMtavruli";
  color: #111111;
}
.aboutUs div p {
  font-size: 14px;
  font-family: "FiraGO";
  color: #111111;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 130px;
}
.txtWrapper {
  width: 782px;
  margin: 0 auto;
}

/* Contact Styles */
.contactWrapper {
  margin-top: 60px;
  margin-bottom: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contactDiv {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.contactDiv div {
  margin-left: 35px;
}
.contactDiv h6 {
  margin-bottom: 9px;
  font-size: 14px;
  color: #9c9c9c;
  font-family: "MyriadGEOMtavruli";
}
.contactDiv span {
  font-size: 18px;
  color: #111111;
  font-family: "FiraGO";
  line-height: 22px;
}
/* Product Page Styles */
.info {
  margin-top: 60px;
  margin-bottom: 65px;
}
.infoImages div:first-child {
  display: flex;
  flex-direction: column;
}
.infoImages div:first-child div {
  width: 75px;
  height: 50px;
  border-radius: 0 0 10px 10px;
}
.infoImages div:first-child img {
  width: 75px;
  height: 75px;
}
.infoImages div:nth-child(2) img {
  margin-left: 26px;
  margin-right: 26px;
}
.infoImages div:first-child img:last-child {
  border-radius: 10px;
}
.productInfo h3 {
  font-size: 18px;
  font-weight: bold;
  color: #111111;
  margin-bottom: 14px;
}
.productInfo div div > span {
  color: #9c9c9c;
  font-size: 12px;
}

.marginL {
  margin-left: 26px;
}

.productInfo div div div img {
  margin-right: 10px;
}

.productInfo div:first-child div div span {
  color: #111111;
  font-family: "FiraGO";
  font-size: 12px;
}
.weights {
  margin-top: 28px;
}
.weights .weight {
  margin-left: 0;
}
.productInfo p {
  color: #111111;
  font-family: "FiraGO";
  font-size: 12px;
  max-width: 378px;
  line-height: 19px;
}
.productInfo button {
  color: #9c9c9c;
  font-family: "FiraGO";
  font-size: 12px;
  border: none;
  background-color: transparent;
}
.infoButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.infoButton img {
  transform: rotate(90deg);
  margin-top: 5px;
}
.priceAndCart {
  margin-left: 56px;
}
.counterWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f8f8f8;
  border-radius: 10px;
  width: 200px;
  margin-top: 32px;
  margin-bottom: 30px;
}
.counterWrapper span,
.counterWrapper div {
  font-size: 40px;
  padding: 5px;
}
.counterWrapper button {
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.addCart {
  width: 200px;
  background-color: #74b42c;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}
.addCart span {
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
}
.addCart div {
  background-color: #ffffff;
  padding: 9px;
  border-radius: 4px;
  margin-left: 28px;
}
.moreText {
  display: none;
}
.productTxt .none {
  display: inline;
}
#productTxt.show-more .moreText {
  display: inline;
}
.moreInfo {
  margin-bottom: 130px;
}
.moreInfo h2 {
  margin-bottom: 40px;
  font-size: 28px;
  color: #111111;
  font-family: "MyriadGEOMtavruli";
}
.productType {
  color: #9c9c9c;
  font-size: 14px;
  font-family: "FiraGO";
}
.productAnswer {
  color: #111111;
  font-size: 14px;
  font-weight: bold;
  font-family: "FiraGO";
}
.moreInfoWrapper div {
  padding: 10px 0;
  border-bottom: 1px dotted #9c9c9c;
}
.moreInfo > div {
  justify-content: space-between;
}
.moreInfoWrapper div {
  display: flex;
  justify-content: space-between;
}
.moreInfoWrapper {
  width: 30%;
}
#bannerImg {
  width: 350px;
  height: 350px;
}
.filterResp {
  display: none;
}
/* SEO */
.icon img {
  width: 16px;
  height: 16px;
}
.pricesWrapper img {
  width: 15px;
  height: 15px;
}
.topProductImage img {
  width: 100px;
  height: 150px;
}
.rights div img {
  width: 150px;
  height: 30px;
}
.contactDiv img {
  width: 20px;
  height: 24px;
}
